
  
  html, body {
  height: 100%;
}


.rightButton{
  position: absolute;
  right:    0;
  bottom:   0;
  width:169px;
  height:169px;
  background: url(./assets/Move_Button.png) no-repeat top center;
  background-size: cover;
  z-index: 13;
  margin: 0;

}

.leftButton{
  position: absolute;
  left:    0;
  bottom:   0;
  width:169px;
  height:169px;
  background: url(./assets/Move_Button.png) no-repeat top center;
  background-size: cover;
  z-index: 13;
  margin: 0;

}